<template lang="html">
  <b-container>
    <b-modal
      id="delete-user-modal"
      ref="modal"
      title="Eliminar Usuario"
      @show="resetModal"
      @hidden="resetModal"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar el usuario: {{ this.user.first_name }}
      {{ this.user.last_name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      user: [],
    };
  },
  methods: {
    resetModal() {

    },
    ok(evt) {
      evt.preventDefault();
      this.deleteUser();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-user-modal");
      });
    },
    /**
     * @description Elimina un proceso de manera fisica
     */
    deleteUser() {
      const path = url + `user/active/`;
      axios.delete(path);
      swal("Usuario Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.logout();
      });
    },
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
  },
  async created() {
    this.user = await AuthService.getUser();
  },
};
</script>

<style></style>
