<template lang="html">
  <b-container>
    <b-modal
      id="desactivate-user-modal"
      ref="modal"
      title="Desactivar Usuario"
      @show="resetModal"
      @hidden="resetModal"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere desactivar su cuenta?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
//import AuthService from "@/services/AuthService.js";

export default {
  props: ["UserInfo"],
  data() {
    return {
      user: "",
    };
  },
  methods: {
    resetModal() {
      
    },

    ok(evt) {
      evt.preventDefault();
      this.desactivateUser();
      this.$nextTick(() => {
        this.$bvModal.hide("desactivate-user-modal");
      });
    },
    /**
     * @description Elimina un proceso de manera fisica
     */
    desactivateUser() {
      const path = url + `user/active/`;
      const datos = {
        email: this.UserInfo.email,
        first_name: this.UserInfo.first_name,
        last_name: this.UserInfo.last_name,
        status: false,
      };
      axios.patch(path, datos)
      .then(() => {
        swal("Usuario Desactivado Exitosamente!", "", "success", {
        button: "Aceptar",
        }).then(() => {
          this.logout();
        })
      });
      
    },
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
  },
  created() {
    //this.user =  AuthService.getUser();
  },
};
</script>

<style></style>
