<template lang="html">
  <b-container>
    <b-modal
      id="delete-indicator-modal"
      ref="modal"
      title="Eliminar Indicador"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar el criterio: {{ IndicatorInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
export default {
  props: ["IndicatorInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteIndicator();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-indicator-modal");
      });
    },
  },
};
</script>

<style></style>
