<template lang="html">
  <div>
    <div class="my-4 text-left">

        <div>
          <b-table responsive hover :items="items" :fields="fields">
            <template v-slot:cell(c)="row">
              <b-form-input
                size="sm"
                v-bind:disabled="isDisabled"
                v-model="row.item.c"
              />
            </template>

            <template v-slot:cell(description)="row">
              <b-form-textarea rows="3" max-rows="5" v-bind:disabled="row.item.isDisabled" v-model="row.item.description"/>
            </template> 

            <template v-slot:cell(accion)="item">
              <!---Editar-->
                <b-button size="sm" variant="secondary" v-if="item.item.isDisabled && editPermission()"
                @click="EditComp(item.item.id, item.item.competence, item.item.description, $event.target )">
                  <b-icon icon="pencil-square"></b-icon>Editar
                </b-button>
                <b-button size="sm" variant="secondary" v-if="!item.item.isDisabled"
                @click="cancelComp(item.item.id)">
                  Cancelar
                </b-button>
                &nbsp;&nbsp;
                <b-button size="sm" variant="primary" v-if="!item.item.isDisabled"
                @click="guardarComp(item.item.id)">
                  Guardar
                </b-button>
            </template>   

          </b-table>
        </div>

    </div>   

  </div>
</template>

<script>

import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      periodAcademicId: this.$route.params.academicPeriodId,
      courseActive: null,
      listaCourseCompetences: [],

      fields: [
        {
          key: "competence",
          label: "Competencia",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripción",
        },
        {
          key: "accion",
          label: "Acción",
        },
      ],
      items: [],

      editModal: {
        editModal: true,
        competence: '',
        description: ''
      },
      isActive: true,
    };
  },
  methods: {
    handleEditOk() {
      if (this.editSumillaValidation()) {
        this.editSumilla();
        console.log("DONE ");
      } else {
        swal("Datos incorrectos", "", "error", {
          button: "Aceptar",
        });
      }
    },
    
    EditComp(itemId, itemC, itemDescription, button){
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });

      this.editModal.isDisabled = false;
      this.editModal.competence = itemC
      this.editModal.description = itemDescription
      this.$root.$emit('bv::show::modal', this.editModal.id, button)
    },

    cancelComp(itemId) {
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });

      this.items = []
      this.getPeriodAcademicCompetences()
    },

    guardarComp(itemId) {
      this.items.forEach(element => {
        if (element.id == itemId) {
          element.isDisabled = !element.isDisabled
        }
      });

      this.putPeriodAcademicCompetences()
    },
  
    textEmpty(text) {
      return text == "";
    },

    /**
       * @description Se obtiene todos los datos del curso activo
    */
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseActiveId}/`;
      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;

          this.getCourseCompetences()
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
       * @description Se obtiene todas las competencias del curso normal
    */
    async getCourseCompetences() {
      const path =
        url + `process/portfolio/course_competence/?id_course=${this.courseActive.id_course}`;
      await axios
        .get(path)
        .then(async (response) => {
          this.listaCourseCompetences = response.data

          this.getPeriodAcademicCompetences()
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description se obtiene los match entre curso activo vs competencias
    */
    getPeriodAcademicCompetences() {
      const path = url + `process/portfolio/period_academic_competences/${this.periodAcademicId}/`;

      axios
        .get(path)
        .then(async (response) => {
          let matchs = response.data.period_academic_competences

          for(const item of matchs) {

            let encontrado = this.listaCourseCompetences.find(e => e.id == item.id_course_competence)

            if(encontrado) {
              let competencia = await this.getCompetence(encontrado.id_competence)

              let aux = {
                id: item.id_course_competence,
                competence: competencia.name,
                description: item.description != "" ? item.description : competencia.description,
                isDisabled: true,
              }
              this.items.push(aux)
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description se guardan las descripciones de los match de periodo academico vs competencias
    */
    putPeriodAcademicCompetences() {
      let data = {
        period_academic_competences: []
      }

      for(const item of this.items) {
        let aux = {
          id_course_competence: item.id,
          description: item.description,
        }
        data.period_academic_competences.push(aux)
      }

      const path = url + `process/portfolio/period_academic_competences/${this.periodAcademicId}/`;
      axios
        .put(path, data)
        .then(() => {
          console.log("Se ha editado las descripciones.")
          swal("Se ha editado correctamente.", "", "success")
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
    * @description Obtiene una competencia del curso normal y lo agrega al arreglo lista_competencias
    * @param {idCompetence} idCompetence es el identificador para la competencia
    */
    async getCompetence(idCompetence) {
      const path =
        url + `process/portfolio/competence/${idCompetence}`;
      
      let res = null
      await axios
        .get(path)
        .then((response) => {
          res = response.data
        })
        .catch((error) => {
          console.log(error);
        });
      return res
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped>
  #contenidoTabla{
    font-size: 12px; 
  }
</style>
