<template>
  <b-container id="custom-css">
    <b-modal
      size="xl"
      :id="infoModal.id"
      :title="infoModal.title"
      ok-title="Cerrar"
      @hide="resetEditModal"
      ok-only
    >
      <template>
        <div v-if="selected == 'Curso vs. Competencias'">
          <p>Las competencias del curso {{ course.name }} son:</p>
          <b-row>
            <b-col class="text-center">
              <h6><strong>Competencias</strong></h6>
            </b-col>
          </b-row>
          <b-table striped hover :items="lista_cursos">
            <template
              v-for="check in lista_competencias"
              v-slot:[gomycell(check)]="row"
            >
              <b-container :key="check.id">
                {{ row.item[check.name] }}
              </b-container>
            </template>
          </b-table>
        </div>

        <div v-if="selected == 'Competencias'">
          <p>Las competencias que se tiene en este recurso son:</p>
          <b-table
            hover
            show-empty
            small
            stacked="md"
            :items="all_competencias"
            :fields="fieldsTableCompetences"
            empty-text="No hay competencias para mostrar"
            empty-filtered-text="No hay competencias para mostrar que coincidan con su solicitud"
            class="ltable"
          >
          </b-table>
        </div>

        <div v-if="selected == 'Competencias vs. Resultados del Estudiante'">
          <p>
            Las resultados del estudiante de las competencias del curso
            {{ course.name }} son:
          </p>
          <b-row>
            <b-col class="text-center">
              <h6><strong>Resultados</strong></h6>
            </b-col>
          </b-row>
          <b-table striped hover :items="lista_competenciasVSresultados">
            <template
              v-for="check in all_student_results"
              v-slot:[gomycell(check)]="row"
            >
              <b-container :key="check.id">
                {{ row.item[check.name] }}
              </b-container>
            </template>
          </b-table>
        </div>

        <div v-if="selected == 'Resultados del Estudiante'">
          <p>Las resultados del estudiante que se tiene en este recurso son:</p>
          <b-table
            hover
            show-empty
            small
            stacked="md"
            :items="all_student_results"
            :fields="fieldsTableStudentResult"
            empty-text="No hay competencias para mostrar"
            empty-filtered-text="No hay resultados para mostrar que coincidan con su solicitud."
            class="ltable"
          >
          </b-table>
        </div>

        <div v-if="selected == 'Curso vs. Resultado del Estudiante'">
          <p>Las resultados del estudiante del curso {{ course.name }} son:</p>
          <b-row>
            <b-col class="text-center">
              <h6><strong>Resultados</strong></h6>
            </b-col>
          </b-row>
          <b-table striped hover :items="lista_cursoVStudentResult">
            <template
              v-for="check in all_student_results"
              v-slot:[gomycell(check)]="row"
            >
              <b-container :key="check.id">
                {{ row.item[check.name] }}
              </b-container>
            </template>
          </b-table>
        </div>

        <div v-if="selected == 'Criterios de Resultados del Estudiante'">
          <p>
            Los criterios de los resultados del estudiante que se tiene en este
            recurso son:
          </p>
          <b-table
            hover
            show-empty
            small
            stacked="md"
            :items="criteria"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            class="ltable"
          >
          </b-table>

          <b-row>
            <b-col sm="5" md="6" class="my-1">
              <b-form-group
                label="Por pagina"
                label-cols-sm="6"
                label-cols-md="4"
                label-cols-lg="3"
                label-align-sm="right"
                label-size="sm"
                label-for="perPageSelect"
                class="mb-0"
              >
                <b-form-select
                  v-model="perPage"
                  id="perPageSelect"
                  size="sm"
                  :options="pageOptions"
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col sm="7" md="6" class="my-1">
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="fill"
                size="sm"
                class="my-0"
              ></b-pagination>
            </b-col>
          </b-row>
        </div>
      </template>
    </b-modal>

    <b-row>
      <b-col cols="12" class="px-3">
        <h3 class="text-left py-4">ANEXO DUFA {{ courseId }}</h3>
      </b-col>

      <b-col cols="2">
        <b-button class="float-left ml-2 my-2" :to="{ name: 'listSyllabus' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </b-col>

      <b-col cols="10" class="pr-4">
        <b-form-select
          v-model="selected"
          @change="infoEdit($event)"
          class="mb-4 my-2"
        >
          <b-form-select-option value="null">Matchs</b-form-select-option>
          <b-form-select-option value="Curso vs. Competencias"
            >Curso vs. Competencias</b-form-select-option
          >
          <b-form-select-option value="Competencias"
            >Competencias</b-form-select-option
          >
          <b-form-select-option
            value="Competencias vs. Resultados del Estudiante"
            >Competencias vs. Resultados del Estudiante</b-form-select-option
          >
          <b-form-select-option value="Resultados del Estudiante"
            >Resultados del Estudiante</b-form-select-option
          >
          <b-form-select-option value="Curso vs. Resultado del Estudiante"
            >Curso vs. Resultado del Estudiante</b-form-select-option
          >
          <b-form-select-option value="Criterios de Resultados del Estudiante"
            >Criterios de Resultados del Estudiante</b-form-select-option
          >
        </b-form-select>
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12 " class="px-4">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{
                  name: 'ViewCompetenciaSilaboDufa',
                  params: { courseId: courseId },
                }"
                exact
                exact-active-class="active"
                >Competencia</b-nav-item
              >
              <b-nav-item
                :to="{
                  name: 'ViewEvaluacionSilaboDufa',
                  params: { courseId: courseId },
                }"
                exact
                exact-active-class="active"
                >Evaluacion</b-nav-item
              >
              <b-nav-item :to="{
                  name: 'ViewMedResultSilaboDufa',
                  params: { courseId: courseId },
                }" 
                exact 
                exact-active-class="active"
                >Medición de Resultados</b-nav-item
              >
            </b-nav>
          </div>
          <div>
            <router-view></router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import axios from "axios";

const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      selected: null,
      courseActive: [],
      portfolioId: this.$route.params.portfolioId,
      course: [],
      semester: "",
      nameDocentes: [],

      lista_cursos: [],
      lista_resultados: [],
      lista_competencias: [], // solo competencias del curso normal
      all_competencias: [], // todas las competencias del recurso

      lista_student_results: [], // solo los resultados de lista_competencias
      all_student_results: [], // todos los resultado del estudiante del recurso
      lista_competenciasVSresultados: [],

      lista_cursoVStudentResult: [],

      items: [],
      competencia: [{ codigo: "", competencia: "", resultados: "" }],
      competenciafields: [
        {
          key: "codigo",
          label: "Codigo",
        },
        {
          key: "competencia",
          label: "Competencia",
        },
        {
          key: "resultados",
          label: "Resultados de estudiante",
        },
      ],
      infoModal: {
        title: "title-modal",
        id: "info-modal",
        evidencia: "",
        aspectosEvaluar: "",
        criteriogeneral: "",
        nivel25: "",
        nivel50: "",
        nivel75: "",
        nivel100: "",
      },

      fieldsTableCompetences: [
        {
          key: "name",
          label: "Competencia",
          // class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripcion",
          // class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
      ],

      fieldsTableStudentResult: [
        {
          key: "name",
          label: "Resultado del estudiante",
          //  class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripcion",
          // class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
      ],

      // TABLA DE CRITERIOS DE RESULTADO DE ESTUDIANTE
      criteria: [],
      scriteria: [],
      options: [
        {
          text: "0",
          value: "0",
        },
        {
          text: "1",
          value: "1",
        },
        {
          text: "2",
          value: "2",
        },
        {
          text: "3",
          value: "3",
        },
      ],
      fields: [
        {
          key: "student_result",
          label: "Resultado",
          // class: "text-center",
          sortable: true,
          sortDirection: "asc",
        },
        {
          key: "name",
          label: "Criterio",
          //  class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripcion",
          // class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "level1",
          label: "1 = Insatifactorio (25%)",
          //class: "text-center",
        },
        {
          key: "level2",
          label: "2 = En proceso (50%)",
          // class: "text-center",
        },
        {
          key: "level3",
          label: "3 = Satisfactorio (75%)",
          // class: "text-center",
        },
        {
          key: "level4",
          label: "4 = Sobresaliente (100%)",
          // class: "text-center",
        },
        {
          key: "level_suggested",
          label: "Nivel",
          //   class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    /**
     * @description Método auxiliar para hacer la concatenación de la informacion de las columnas en el v-slot
     */
    gomycell(key) {
      var data = key.name;
      return `cell(${data})`; // simple string interpolation
    },

    infoEdit(param) {
      console.log(param);
      this.infoModal.title = param;
      if (param != "null") {
        this.$root.$emit("bv::show::modal", this.infoModal.id);
      }
    },

    resetEditModal() {
      this.infoModal.title = "";
      this.infoModal.curse_id = "";
      this.infoModal.description = "";
      this.infoModal.content = "";
    },

    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      if (!this.courseId) {
        console.log("Falta id de curso activo.");
        return;
      }
      const path = url + `process/portfolio/course_active/${this.courseId}/`;

      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          console.log("cursos activos -> ", this.courseActive);
          if (this.courseActive.id_course) {
            this.getCourse();

            // Obtener los nombres de los docentes
            for (const docenteId of this.courseActive.users) {
              this.getDocente(docenteId)
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los datos del curso normal
     */
    async getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;
      axios
        .get(path)
        .then(async (response) => {
          this.course = response.data;
          console.log("curso -> ", this.course);

          if (this.course.semester % 2 == 1) {
            this.semester = "A"
          } else {
            this.semester = "B"
          }

          await this.getAllCompetences();
          await this.getCourseCompetences();
          await this.getCourseStudentResults();

          // Preparando datos del curso para la tabla curso vs competencias
          var hlp = {
            curso: this.course.name,
          };
          for (let competencia of this.all_competencias) {
            hlp[competencia.name] = this.lista_competencias.some(
              (e) => e.id == competencia.id
            )
              ? "X"
              : "";
          }
          this.lista_cursos.push(hlp);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todas las competencias del curso normal
     */
    async getCourseCompetences() {
      const path =
        url +
        `process/portfolio/course_competence/?id_course=${this.course.id}`;
      await axios
        .get(path)
        .then(async (response) => {
          for (let element of response.data) {
            await this.getCompetence(element.id_competence);
          }

          await this.getAllStudentResults();

          // Obtener todos los criterios de los resusltados de estudiante de course
          this.all_student_results.forEach((element) => {
            this.getCriteria(element.id, element.name);
          });

          // Preparando datos para la tabla competencias vs resultados
          this.lista_competencias.forEach((item) => {
            var hlp = {
              competencias: item.name,
            };

            let aux = [];

            for (let resultado of this.all_student_results) {
              hlp[resultado.name] = item.student_results.some(
                (e) => e == resultado.id
              )
                ? "X"
                : "";

              // Llenar los cards de resultados de cada competencia
              // item.student_results sólo tiene ids
              item.student_results.forEach((e) => {
                if (e == resultado.id) {
                  let auxResult = {
                    name: resultado.name,
                    description: resultado.description,
                  };
                  aux.push(auxResult);
                }
              });
            }
            item["results"] = aux; // se agrega objetod especiales para las tablas de los cards

            this.lista_competenciasVSresultados.push(hlp);
          });
          this.lista_competencias = [...this.lista_competencias];
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene una competencia del curso normal y lo agrega al arreglo lista_competencias
     * @param {idCompetence} idCompetence es el identificador para la competencia
     */
    async getCompetence(idCompetence) {
      const path = url + `process/portfolio/competence/${idCompetence}`;
      await axios
        .get(path)
        .then((response) => {
          this.lista_competencias.push(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todas las competencias del recurso
     */
    async getAllCompetences() {
      const path =
        url +
        `process/portfolio/competence/?id_resource=${this.course.id_resource}`;
      await axios
        .get(path)
        .then((response) => {
          this.all_competencias = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los match del presente curso con sus resultados del estudiante
     */
    async getCourseStudentResults() {
      const path =
        url + `process/portfolio/course_student_results/${this.course.id}/`;
      await axios
        .get(path)
        .then(async (response) => {
          for (let element of response.data.course_student_result) {
            await this.getStudentResult(element.id_student_result);
          }

          // Preparando datos para la tabla curso vs resultados
          var hlp = {
            curso: this.course.name,
          };
          for (let student_result of this.all_student_results) {
            let aux = response.data.course_student_result.find(
              (e) => e.id_student_result == student_result.id
            );

            hlp[student_result.name] = this.lista_student_results.some(
              (e) => e.id == student_result.id
            )
              ? aux.level
              : "";
          }
          this.lista_cursoVStudentResult.push(hlp);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene un resultado del estudiante del curso normal y lo agrega al arreglo lista_student_results
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getStudentResult(idStudentResult) {
      const path = url + `process/portfolio/student_result/${idStudentResult}`;
      await axios
        .get(path)
        .then((response) => {
          this.lista_student_results.push(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todas los resultados del estudiante del recurso
     */
    async getAllStudentResults() {
      const path =
        url +
        `process/portfolio/student_result/?id_resource=${this.course.id_resource}`;
      await axios
        .get(path)
        .then((response) => {
          this.all_student_results = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene todos los criterios de un resultado del estudiante en especifico
     * * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    getCriteria(idStudentResult, nameStudentResult) {
      const path =
        url +
        `process/portfolio/criteria/?id_student_result=${idStudentResult}`;

      axios
        .get(path)
        .then((response) => {
          let aux = response.data.map((e) => {
            e["student_result"] = nameStudentResult;
            return e;
          });
          this.criteria.push(...aux);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  beforeUpdate() {
    this.totalRows = this.criteria.length;
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style lang="css" scoped></style>
