<template
  ><div>
    <b-form @submit="onSubmit">
      <h2>
        Estas seguro que desea desactivar el curso activo
      </h2>
      <b-button :to="{ name: 'listCourses' }" type="submit" variant="primary"
        >Cancelar</b-button
      >&nbsp;
      <b-button type="submit" variant="warning">Desactivar</b-button>
    </b-form>
  </div>
</template>

<script>
const url = process.env.VUE_APP_RUTA_API;
import axios from "axios";
import swal from "sweetalert";

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      courseActive: [],
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.deleteCourseActive();
    },
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseId}`;
      axios.get(path).then((response) => {
        this.courseActive = response.data;
      });
    },
    deleteCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.courseActive.id}/`;
      const datos = {
        status: false,
      };
      axios.patch(path, datos).then(() => {
        swal("Curso Activo desactivado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          this.$router.push({ name: "listCourses" });
        });
      });
    },
  },
  created() {
    this.getCourseActive();
  },
};
</script>

<style></style>
