<template lang="html">
  <div class="text-left">
    <b-row class="my-3 mt-4 pt-2">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Listado de Usuarios</h5>
      </b-col>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch ml-3">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>

        <b-form-group
          label="Filtro"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select
              v-model="sortBy"
              id="sortBySelect"
              :options="sortOptions"
              class="w-75"
            >
              <template v-slot:first>
                <option value="">-- Ninguno --</option>
              </template>
            </b-form-select>
            <b-form-select
              v-model="sortDesc"
              size="sm"
              :disabled="!sortBy"
              class="w-25"
            >
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
      </b-col>
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar por:"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            description="Deje todo sin marcar para filtrar todos los datos"
            class="mb-0"
          >
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="first_name">Nombre</b-form-checkbox>
              <b-form-checkbox value="last_name">Apellido</b-form-checkbox>
              <b-form-checkbox value="email">Correo</b-form-checkbox>
              <b-form-checkbox value="id_role">Rol</b-form-checkbox>
              <b-form-checkbox value="status">Activo</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>
    </b-collapse>
    <br />

    <b-table
      v-if="disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="users"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay usuarios para mostrar"
      empty-filtered-text="No hay usuarios para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{ name: 'PerfilUser', params: { userId: data.item.id } }"
            >Ver más</b-button
          >
        </b-container>
      </template>
    </b-table>

    <b-table
      v-if="!disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="users"
      :fields="fields2"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay usuarios para mostrar"
      empty-filtered-text="No hay usuarios para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{ name: 'PerfilUser', params: { userId: data.item.id } }"
            >Ver más</b-button
          >
        </b-container>
      </template>
    </b-table>

    <b-row class="mb-4">
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      userPermissions: this.$store.getters.getPermisos,
      users: [],
      user: [],
      roles: "",
      process: "",
      fields: [
        {
          key: "first_name",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "last_name",
          label: "Apellido",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "email",
          label: "Correo",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "id_role",
          label: "Rol",
          // class: "text-center",
          formatter: (value) => {
            return this.getNameOfRole(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "status",
          label: "Estado",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          // class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
      fields2: [
        {
          key: "first_name",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "last_name",
          label: "Apellido",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "email",
          label: "Correo",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "id_role",
          label: "Rol",
          // class: "text-center",
          formatter: (value) => {
            return this.getNameOfRole(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 15,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["first_name"],
    };
  },
  computed: {
    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  async created() {
    await PermissionService.setUserActive();
    this.viewPermission();
    console.log("created::ListUser");
  },
  async mounted() {
    this.user = await AuthService.getUser();
    this.getUsers();
    this.getRoles();
    this.getProcess();
    console.log("mounted::ListUser");
  },

  beforeUpdate() {
    this.totalRows = this.users.length;
  },

  methods: {
    getUsersxProcess(idProcess) {
      //api/user/user/?id_role__id_process=1
      const path = url + "user/user/?id_role__id_process=" + idProcess;
      axios
        .get(path)
        .then((response) => {
          this.users = response.data;
          for (var i = 0; i < this.users.length; i++) {
            if (this.users[i].id == 1) {
              this.users.splice(i, 1);
            }
            if (this.users[i].id == this.$store.getters.getId) {
              this.users.splice(i, 1);
            }
          }
          console.log(this.users);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene todos los usuarios registrados en la BD
     */
    getUsers() {
      if (this.user.superadmin) {
        const path = url + `user/user/`;
        axios
          .get(path)
          .then((response) => {
            this.users = response.data;
            for (var i = 0; i < this.users.length; i++) {
              if (this.users[i].id == 1) {
                this.users.splice(i, 1);
              }
              if (this.users[i].id == this.$store.getters.getId) {
                this.users.splice(i, 1);
              }
            }
            console.log(this.users);
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        const path =
          url + `user/user/?id_role__id_process=${this.user.role.id_process}`;
        axios
          .get(path)
          .then((response) => {
            this.users = response.data;
            for (var i = 0; i < this.users.length; i++) {
              if (this.users[i].id == 1) {
                this.users.splice(i, 1);
              }
              if (this.users[i].id == this.$store.getters.getId) {
                this.users.splice(i, 1);
              }
            }
            console.log(this.users);
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    /**
     * @description Obtiene todos los roles registrados en la BD
     */
    getRoles() {
      const path = url + `user/role/`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    /**
     * @description Metodo para obtener los procesos
     */
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
      });
    },
    /**
     * @description Metodo para obtener el nombre de un rol mediante su id
     */
    getNameOfRole(id) {
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].id == id) {
          for (var j = 0; j < this.process.length; j++) {
            if (this.process[j].id == this.roles[i].id_process) {
              return this.roles[i].name + " de " + this.process[j].name;
            }
          }
        }
      }
      return;
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
     * @description Obtiene los permisos del usuario logueado
     */

    viewStatusTable() {
      if (this.$store.getters.isSuperadmin) {
        this.fields.splice(4, 1);
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Usuarios)
      ) {
        this.fields.splice(4, 1);
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.fields.splice(4, 1);
        return true;
      }
      return false;
    },

    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        this.getUsers();
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.getUsersxProcess(this.$store.getters.idProceso);
        return true;
      }
      this.getUsersxProcess(this.$store.getters.idProceso);
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
