<template lang="html">
  <div class="container ">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button
          :to="{
            name: 'ListCCurse',
            params: { studyPlanId: curse.id_resource },
          }"
        >
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <div class="col-12">
        <h3 class="text-center my-0 ">Detalles del Curso</h3>
      </div>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Codigo de curso:</b-col>
            <b-col sm="9">{{ curse.code }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ curse.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Departamento:</b-col>
            <b-col sm="9">{{ departaments }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Semestre:</b-col>
            <b-col sm="7">{{ curse.semester }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Créditos:</b-col>
            <b-col sm="7">{{ curse.credit }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Pre-requisito:</b-col>
            <b-col sm="7">{{ preRequirements }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="2">HT:{{ curse.hours_theory }}</b-col>
            <b-col sm="2">HS:{{ curse.hours_seminar }}</b-col>
            <b-col sm="2">HTP:{{ curse.hours_theopractice }}</b-col>
            <b-col sm="2">HP:{{ curse.hours_practice }}</b-col>
            <b-col sm="2">HL:{{ curse.hours_laboratory }}</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{
              name: 'EditCCcurse',
              params: { curseId: curse.id, studyPlanId: curse.id_resource },
            }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar curso
          </b-button>
        </div>
        <div v-if="disablePermission()">
          <div class="text-right float-right ml-3">
            <b-button
              v-if="this.curse.status"
              v-b-modal.deactivate-curse-modal
              variant="warning"
            >
              <b-icon icon="x-circle"></b-icon>
              Desactivar curso
            </b-button>
            <DeactivateCCurse :Curse="curse"></DeactivateCCurse>
          </div>
          <div class="text-right float-right ml-3">
            <b-button
              v-if="!this.curse.status"
              v-b-modal.activate-curse-modal
              variant="success"
            >
              <b-icon icon="check-circle"></b-icon>
              Activar curso
            </b-button>
            <ActivateCCurse :Curse="curse"></ActivateCCurse>
          </div>
        </div>
        <div class="text-right float-right ml-3" v-if="deletePermission()">
          <b-button v-b-modal.delete-curse-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Borrar curso
          </b-button>
          <DeleteCCurse :Curse="curse"></DeleteCCurse>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import DeleteCCurse from "@/components/Curriculum/DeleteCCurse";
import DeactivateCCurse from "@/components/Curriculum/DeactivateCCurse";
import ActivateCCurse from "@/components/Curriculum/ActivateCCurse";
import { Module, Permission, PermissionService } from "@/services";
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    DeleteCCurse,
    DeactivateCCurse,
    ActivateCCurse,
  },
  data() {
    return {
      ccurseId: this.$route.params.ccurseId,
      studyPlanId: this.$route.params.studyPlanId,
      curse: {},
      departaments: [],
      preRequirements: [],
    };
  },
  methods: {
    getCurso() {
      const path = url + `process/portfolio/course/${this.ccurseId}`;

      axios
        .get(path)
        .then((response) => {
          this.curse = response.data;
          this.getDepartaments();
          //this.getPreRequirements();
          for (let i = 0; i < this.curse.pre_requirements.length; i++) {
            this.getPreRequirements(this.curse.pre_requirements[i]);
          }
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    getDepartaments() {
      const path =
        url + `process/portfolio/department/?id_resource=${this.studyPlanId}`;

      axios.get(path).then((response) => {
        var listDepartament = response.data;
        for (let i = 0; i < this.curse.departments.length; i++) {
          var idDepartment = this.curse.departments[i];
          var departament = listDepartament.find((i) => i.id == idDepartment);
          this.departaments.push(departament.code);
        }
      });
    },

    getPreRequirements(id) {
      const path = url + `process/portfolio/course/${id}`;

      axios.get(path).then((response) => {
        this.preRequirements.push(response.data.name);
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disablePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  computed: {},
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCurso();
  },
};
</script>

<style lang="css" scoped></style>
