<template>
<b-container id="custom-css">
  <b-row>
    <b-col ols="12" class="px-4">
      <h3 class="text-left py-4" >Informe de Promedios</h3>
      <b-button class="float-left" variant="secondary" :to="{ name: 'Reports' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </b-col>
  </b-row>
  <br />
  <b-card title="Card Title" no-body>
    <b-card-body>
      <router-view></router-view>
    </b-card-body>
  </b-card>
</b-container>
</template>

<script>
import {
  Module,
  Permission,
  PermissionService,
  CourseDatesService
} from "@/services";

export default {
  components: {},
  data() {
    return {};
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if ((PermissionService.findPermission(Permission.View, Module.Portafolio) )) {
          // validacion de responsable en caso hubiera
          return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    viewDates(){
      if(CourseDatesService.isUserSeeEveything()){
        return;
      } 
      if(!(CourseDatesService.isUserColab() && CourseDatesService.isFourthPhase())) {
        this.$router.push("/");
      }
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    //this.viewDates();
    //CourseDatesService.getPortfolioDates(this.portfolioId);
  
  },
};
</script>

<style lang="css" scoped></style>
