<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>¿Estas seguro que deseas eliminar esta tarea?</h3>
        <p>Nombre: </p>
        <p>Descripción: </p>
        <p>Responsable: </p>
        <div class="row">
          <div class="col">
              <button variant="danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//import axios from "axios";
//import swal from "sweetalert";

export default {
  data() {
    return {
      userId: this.$route.params.userId,
      element: {
        email: "",
        first_name: "",
        last_name: "",
      },
    };
  },
};
</script>
<style lang="css" scoped></style>
