<template>
  <b-container class="py-5">
    <b-row>
      <b-col cols="10">
        <h2 class="text-left" py-2>Tareas</h2>
      </b-col>
      <b-col cols="2">
        <b-icon icon="person-fill" font-scale="2"></b-icon>
      </b-col>
    </b-row>

    <b-card title="Card Title" no-body>
      <b-card-header header-tag="nav">
        <b-nav card-header tabs>
          <b-nav-item to="/tasks/list" exact exact-active-class="active"
            >Lista</b-nav-item
          >
          <b-nav-item to="/tasks/add" exact exact-active-class="active"
            >Agregar</b-nav-item
          >
        </b-nav>
      </b-card-header>
      <b-card-body>
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="css" scoped></style>
