<!--<template>
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="col-12 title">
        <h1>Login User</h1>
      </div>
      <div class="col-12 form-input">
        <b-form @submit="onSubmit" @reset="onReset">
          <b-form-group>
            <b-form-input
              type="text"
              placeholder="Nombres"
              v-model="first_name"
              required
              :state="firstNameValidation"
            ></b-form-input>
            <small class="msg" v-if="!onlyText(first_name)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small class="msg" v-if="!textSize(first_name, 5, 32)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 5 y máximo 32 caracteres
            </small>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="text"
              placeholder="Apellidos"
              v-model="last_name"
              required
              :state="lastNameValidation"
            ></b-form-input>
            <small class="msg" v-if="!onlyText(last_name)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small class="msg" v-if="!textSize(last_name, 5, 32)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 5 y máximo 32 caracteres
            </small>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="email"
              placeholder="Email"
              v-model="email"
              :state="emailValidation"
            ></b-form-input>
            <small class="msg" v-if="!onlyEmail(email)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un correo válido
            </small>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="password"
              placeholder="Contraseña"
              v-model="password"
              required
              :state="passwordValidation"
            ></b-form-input>
            <small class="msg" v-if="!onlyTextAndNumber(password)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small class="msg" v-if="!textSize(password, 8, 15)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 8 y máximo 15 caracteres
            </small>
          </b-form-group>
          <b-form-group>
            <b-form-input
              type="password"
              placeholder="Repita Contraseña"
              v-model="password_repeat"
              required
              :state="passwordRepeatValidation"
            ></b-form-input>
            <small class="msg" v-if="!onlyTextAndNumber(password_repeat)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es un caracter válido
              <br />
            </small>
            <small class="msg" v-if="!textSize(password_repeat, 8, 15)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Mínimo 8 y máximo 15 caracteres
              <br />
            </small>
            <small class="msg" v-if="password != password_repeat">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; No es la misma contraseña
            </small>
          </b-form-group>
          <b-form-group>
            <b-form-file
              v-model="photo"
              :state="Boolean(photo)"
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
              required
              accept="image/*"
            ></b-form-file>
          </b-form-group>
          aa{{ this.photo.name }}
          <b-button type="submit" variant="success" block>Sign Up</b-button>
          <b-button type="reset" variant="danger" block>Reset</b-button>

          <b-alert
            :show="dismissCountDown"
            dismissible
            fade
            variant="danger"
            @dismiss-count-down="countDownChanged"
            >Datos incorrectos</b-alert
          >
        </b-form>
      </div>
      <div class="col-12 forgot">
        <label>¿Ya tienes una cuenta?</label>
        <router-link to="/login">Login</router-link>
      </div>
    </div>
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";
import "axios";
import swal from "sweetalert";

export default {
  data() {
    return {
      password: "",
      last_login: null,
      email: "",
      first_name: "",
      last_name: "",
      photo: "",
      admin: false,
      role: true,
      status: false,
      password_repeat: "",
      prueba: "",
      reg: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      validar_solo_texto: /^[a-zA-Z ]*$/,
      validar_solo_texto_numero: /^[a-zA-Z0-9]*$/,

      validation: {
        onlyText: /^[a-zA-Z ]*$/,
        onlyTextAndNumber: /^[a-zA-Z0-9]*$/,
        email: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      },

      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      if (
        this.firstNameValidation &&
        this.lastNameValidation &&
        this.emailValidation &&
        this.passwordValidation &&
        this.passwordRepeatValidation
      ) {
        this.signUp();
      }
    },
    onReset(evt) {
      evt.preventDefault();
      this.email = "";
      this.first_name = "";
      this.last_name = "";
      this.password = "";
      this.password_repeat = "";
      this.photo = null;
    },
    /**
     * @description Registra un nuevo usuario enn el sistema
     */
    async signUp() {
      try {
        let credentials = new FormData();
        credentials.append("password", this.passsword);
        credentials.append("last_login", this.last_login);
        credentials.append("email", this.email);
        credentials.append("first_name", this.first_name);
        credentials.append("last_name", this.last_name);
        credentials.append("photo", this.photo);
        credentials.append("admin", this.admin);
        credentials.append("admin", this.admin);
        credentials.append("role", this.role);
        credentials.append("status", this.status);
        await AuthService.register(credentials);
        swal("Usuario Creado Exitosamente!", "", "success", {
          button: "Aceptar",
        });
        this.$router.push("/");
      } catch (error) {
        console.log("No se registro al Usuario");
        this.showAlert();
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    onlyEmail(text) {
      return this.validation.email.test(text);
    },
  },
  computed: {
    firstNameValidation() {
      if (this.textEmpty(this.first_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.first_name, 5, 32) && this.onlyText(this.first_name)
      );
    },

    lastNameValidation() {
      if (this.textEmpty(this.last_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.last_name, 5, 32) && this.onlyText(this.last_name)
      );
    },
    emailValidation() {
      if (this.textEmpty(this.email)) {
        return new Boolean(null);
      }
      return this.onlyEmail(this.email);
    },

    passwordValidation() {
      if (this.textEmpty(this.password)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.password, 8, 15) &&
        this.onlyTextAndNumber(this.password)
      );
    },
    passwordRepeatValidation() {
      if (this.textEmpty(this.password_repeat)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.password, 8, 15) &&
        this.onlyTextAndNumber(this.password) &&
        this.password == this.password_repeat
      );
    },
  },
};
</script>
<style scoped>
body {
  font-family: "Roboto", sans-serif;
  background: url("../../assets/fondo.jpg");
  background-size: cover;
}
.main-section {
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
}
.modal-content {
  background-color: #012a58;
  opacity: 0.8;
  padding: 0 1px;
  border-radius: 10px;
}
.title {
  color: rgb(138, 1213, 255);
  padding: 40px;
}
.forgot {
  color: #61f1ff;
  padding: 40px 0 0;
  font-size: 90%;
}
.forgot a {
  color: #ffffff;
}
.msg {
  color: #ff5959;
  font-weight: bold;
}
</style>
-->