<template lang="html">
<b-container id="custom-css">
  <br />
  <b-row>
    <b-col cols="10">
      <h2 class="text-left" py-2>Medición de los Resultados del Estudiante {{modality}} {{nperiod}}</h2>
      <b-button
        class="float-left"
        :to="{ name: 'ViewReportStudentResult' }"
        variant="secondary">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </b-col>
  </b-row>
  <br />
  <br />
  <b-row class="mb-4 text-left border p-3">
    <b-col cols="6">
      <p><strong>Asignatura:</strong> {{ course.name }}</p>
      <p><strong>Semestre:</strong> {{ semester }}</p>
    </b-col>
    <b-col cols="6">
      <p><strong>Docente(s):</strong></p>
      <li v-for="(item, index) in nameDocentes" :key="index">
        {{ item }}
      </li>
    </b-col>
  </b-row>

  <br />
  <br />
  <div class="float-left">
    <b-button
      variant="primary"
      v-on:click="handleDownload">
      <b-icon icon="download"></b-icon>
      Descargar reporte
    </b-button>
  </div>
  <div class="float-right" v-if="editPermission()">
    <b-form-file
      ref="excel-upload-input"
      accept=".xlsx"
      v-model="file2"
      class="mt-3"
      plain
      @change="handleClick"></b-form-file>
    <div v-if="!archivoSubido" class="mt-3">
      Archivo seleccionado: {{ file2 ? file2.name : "" }}
    </div>
    <div v-if="archivoSubido" class="mt-3">
      Ya se ha subido un archivo.
    </div>
  </div>
  <br /><br />
  <br /><br />
  <br />

  <div>
    <b-card no-body>
      <b-tabs pills card>
        <b-tab v-for="(element, index) in excelfulldata" :key="index" v-bind:title="element.name">
          <div>
            <b-row>
              <b-col>
                <b-table
                  bordered
                  responsive
                  hover
                  :items="body1"
                  :fields="head1">
                  <template slot="thead-top" slot-scope="">
                    <tr>
                      <th colspan="2" class="text-center">&#x200B;</th>
                    </tr>
                  </template>
                </b-table>
              </b-col>
              <b-col>
                <b-row>
                  <b-col v-for="(el, index) in element.data" :key="index">
                    <b-table
                      bordered
                      responsive
                      hover
                      :items="el.data"
                      :fields="fieldsdoble">
                      <template slot="thead-top" slot-scope="">
                        <tr>
                          <th colspan="2" class="text-center">{{el.name}}</th>
                        </tr>
                      </template>
                    </b-table>
                  </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-table
                  bordered
                  responsive
                  hover
                  :items="element.pnivelsum"
                  :fields="head2">
                  <template slot="thead-top" slot-scope="">
                    <tr>
                      <th colspan="2" class="text-center">&#x200B;</th>
                    </tr>
                  </template>
                </b-table>
              </b-col>
            </b-row>
            <b-row class="text-left px-3">
              <p>
                ACCIONES DE MEJORA PROPUESTAS PARA EL RESULTADO DEL ESTUDIANTE
              </p>
              <b-col class="col-lg-10">
                <b-form @submit="onSubmit">
                  <b-form-textarea
                    id="input-2"
                    type="text"
                    name="proposal"
                    v-model.trim="form.proposal"
                    required
                    :formatter="forceLowerCase"
                    :state="proposalImprovementStateProposalValidation()">
                  </b-form-textarea>
                  <small class="msg" v-if="!onlyTextAndNumber(form.proposal)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
                    No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(form.proposal, 5, 50)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
                    Mínimo 5 y máximo 50 caracteres
                  </small>
                  <br />
                  <div class='col-12'>
                    <b-row>
                      <b-col>
                        <b-button
                          type="submit"
                          variant="secondary"
                          class="m-1">
                          <b-icon icon="wallet2">
                          </b-icon>
                          Guardar
                        </b-button>
                      </b-col>
                    </b-row>
                  </div>
                </b-form>
              </b-col>
            </b-row>
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
  <div>
    <router-view></router-view>
  </div>
</b-container>
</template>

<script>
import XLSX from "xlsx";
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";
import swal from "sweetalert";

export default {
  data() {
    return {
      form: {
        scope: "",
        proposal: "",
        expected_results: "",
        id_course_active: this.$route.params.courseId,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      portfolioId: this.$route.params.portfolioId,
      studentResults: [],
      coursesActive: [],
      course: [],
      semester: "",
      modality: "",
      nameDocentes: [],
      nperiod: "",

      itemsdoble: [
        { cantidad: 5, porcentaje: 2 },
        { cantidad: 2, porcentaje: 2 },
        { cantidad: 7, porcentaje: 2 },
        { cantidad: 4, porcentaje: 2 },
        { cantidad: 4, porcentaje: 2 },
      ],
      fieldsdoble: [{
          key: "cantidad",
          label: "Cant",
        },
        {
          key: "porcentaje",
          label: "%",
        },
      ],

      body1: [
        { nivellogro: "Insatisfactorio (Nivel 1)" },
        { nivellogro: "En proceso (Nivel 2)" },
        { nivellogro: "Satisfactorio (Nivel 3)" },
        { nivellogro: "Sobresaliente (Nivel 4)" },
        { nivellogro: "Total RE.9:" },
      ],
      head1: [{
        key: "nivellogro",
        label: "Nivel de Logro",
      }, ],
      head2: [{
          key: "pnivel",
          label: "%Nivel ",
        },
        {
          key: "suma",
          label: "Suma 3+4",
        },
      ],

      body2: [
        { pnivel: 0, suma: null },
        { pnivel: 0, suma: null },
        { pnivel: 0, suma: null },
        { pnivel: 0, suma: null },
        { pnivel: 0, suma: 0.0 },
      ],
      items: [],
      headitems: [],

      courseActiveId: this.$route.params.courseId,
      periodAcademicId: this.$route.params.academicPeriodId,
      lista_evidencias: [],
      lista_criterios: [],
      course_student_result: [], // Matchs
      lista_rubricas: [],

      file2: null,
      text: "",
      archivoSubido: false,
      //variables temporales no tomar en cuanta para mostrar enGUI
      listNotasExcel: [],
      arrSoloNotas: [],
      listrREs: [],
      porcNivel: [],
      sum34: 0,

      excelfulldata: [],

      // Nueva implementación
      list_evaluations: [],
      students_course_active: [],
      aux_list_evaluations: [],
    };
  },
  methods: {

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    onlyUnique(value, index, self) {
      return self.indexOf(value) === index;
    },

    /**
     * @description Se obtiene todos los datos del curso activo
     */
    async getCourseActive() {
      //this.periodAcademicId = this.$route.params.academicPeriodId;

      const path =
        url + `process/portfolio/course_active/${this.courseActiveId}/`;

      return await axios
        .get(path)
        .then(async (response) => {
          this.courseActive = response.data;

          // Obtener los nombres de los docentes
          for (const docenteId of this.courseActive.users) {
            this.getDocente(docenteId);
          }

          this.getCourse();
          await this.getStudents();
          await this.getEvidences();
          this.getCourseActiveReviewPlan();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(
            response.data.first_name + " " + response.data.last_name
          );
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;

      axios.get(path).then((response) => {
        this.course = response.data;
        this.form.scope = this.course.name;

        if (this.course.semester % 2 == 1) {
          this.semester = "A";
        } else {
          this.semester = "B";
        }
      });
    },

    getModality() {
      const path =
        url + `process/portfolio/period_academic/${this.periodAcademicId}/`;

      axios.get(path).then((response) => {
        let period = response.data;
        this.nperiod = period.period;

        if (period.modality == 1) {
          this.modality = "Examen";
        }
        if (period.modality == 2) {
          this.modality = "Continua";
        }
      });
    },

    /**
     * @description Obtener los datos de los estudiantes de un curso activo con el método get
     * y los procesa para que esten en un formato tabla.
     */
    async getStudents() {
      const path =
        url +
        `process/portfolio/student/?id_course_active=${this.courseActiveId}`;
      await axios.get(path).then((response) => {
        this.students_course_active = response.data;
      });
    },

    async getEvidences() {
      const path =
        url +
        `process/portfolio/evidence/?id_period_academic=${this.periodAcademicId}`;
      await axios.get(path).then(async (response) => {
        // Obtener las rúbricas o evaluaciones para este periodo académico
        for (const evidence of response.data) {
          await this.getRubrica(evidence.id);
        }
        console.log("AUX", this.aux_list_evaluations);
      });
    },

    /**
     * @description Obtener las evaluaciones para el presente periodo académico
     */
    async getRubrica(idEvidence) {
      const path =
        url + `process/portfolio/evaluation/?id_evidence=${idEvidence}`;
      await axios.get(path).then((response) => {
        this.aux_list_evaluations.push(...response.data);
      });
    },

    /**
     * @description Se obtiene todas mediciones de resultados de un curso activo
     */
    getCourseActiveReviewPlan() {
      const path =
        url +
        `process/portfolio/course_active_review_plan/${this.courseActiveId}/`;
      axios
        .get(path)
        .then((response) => {
          console.log("REPONSE", response.data);

          for (const evaluation of response.data.evaluations) {
            let encontrado = this.aux_list_evaluations.find(
              (e) => e.id == evaluation.id
            );

            if (
              encontrado &&
              evaluation.result != "" &&
              evaluation.criteria != ""
            ) {
              this.list_evaluations.push(evaluation);
            }
          }
          console.log("Evidecias", this.list_evaluations);

          this.getDataFromBD();

          // se carga los datos a la tabla
          /*for (const item of evaluations) {
            if(item.id) {
              let aux = {
                id: item.id, // id de la evaluación
                result: item.student_result ? item.student_result : "", 
                criteria: item.criteria ? item.criteria : "", 
                method: item.method ? item.method : "", 
                review_week: item.review_week ? item.review_week : "", 
                percentage: response.data.percent_due ? response.data.percent_due : "", 
                isDisabled: true
              }
              this.items.push(aux)
            }
          }*/
        })
        .catch((error) => {
          console.log(error);
        });
    },

    //MANEJANDO EXCELS

    /**
     * @description Proporciona una plantilla en excel para colocar las notas de los estudiantes segun RE
     * @return {file} retorma el archivo REX.xlsx
     */
    handleDownload() {
      // Se crea un archivo excel
      var wb = XLSX.utils.book_new();

      wb.Props = {
        Title: "Plantilla RE de alumnos",
        Subject: "Alumnos",
      };

      // Carga de estudiantes al excel
      let cuiAlumnos = [];
      this.students_course_active.forEach((student) => {
        //ws_data.push([student.cui]);
        cuiAlumnos.push([student.cui]);
      });

      // obtenemos todos los resultados de las mediciones
      let canDownload = false; // Verifica si hay resultados

      let auxListResult = [];
      for (const item of this.list_evaluations) {
        if (
          !auxListResult.some((e) => e == item.student_result) &&
          item.student_result != "" &&
          item.student_result != null
        ) {
          auxListResult.push(item.student_result);
          canDownload = true;
        }
      }

      // Validar la existencia de rúbricas o evaluaciones
      if (!canDownload) {
        swal(
          "No hay rúbricas o evaluaciones con algún criterio para este curso.",
          "",
          "warning"
        );
        return;
      }

      auxListResult = auxListResult.sort();

      // crear hojas por cada resultado
      for (const result of auxListResult) {
        let temp_ws_data = [
          [],
          ["", "FACULTAD DE INGENIERÍA D EPRODUCCIÓN Y SERVICIOS"],
          ["", "ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS"],
          [],
          ["", "CALCULO DEL DESEMPEÑO ACADÉMICO   "],
          ["", "SEMESTRE 2020A"],
          ["", "", "", "Periodo:", "FINAL"],
          ["", "", "", "Tipo de Evaluación:", "MI TYPOO"],
          ["CUI"],
        ];

        for (let index = 0; index < this.list_evaluations.length; index++) {
          if (
            this.list_evaluations[index].criteria != "" &&
            this.list_evaluations[index].criteria != null &&
            this.list_evaluations[index].student_result == result
          ) {
            temp_ws_data[8].push(this.list_evaluations[index].criteria);
          }
        }
        temp_ws_data[8] = temp_ws_data[8].sort();
        temp_ws_data.push(...cuiAlumnos); // se agrega los cui de los alumnos en cada hoja

        let ws = XLSX.utils.aoa_to_sheet(temp_ws_data);

        XLSX.utils.book_append_sheet(wb, ws, `${result}`);
      }

      XLSX.writeFile(wb, "RE1.xlsx");
    },

    handleClick(e) {
      this.excelfulldata = [];

      const files = e.target.files;
      const rawFile = files[0];
      if (!rawFile) return;
      this.upload(rawFile);
      this.archivoSubido = false;
    },

    /**
     * @description Obtiene el archivo que ha sido subido por el usuario y lo validad
     * @param {rawfile} rawfile es el archivo subido
     */
    upload(rawFile) {
      this.$refs["excel-upload-input"].value = null;
      /*if (!this.beforeUpload) {
                this.readerData(rawFile)
                return
            }
            const before = this.beforeUpload(rawFile)
            if (before) {
                this.readerData(rawFile)
            }*/
      this.readerData(rawFile);
    },

    /**
     * @description Obtener el archivo y lee los datos que serán procesados en las tablas
     * y luego serán enviados a la base de datos
     * @param {rawfile} rawfile es el archivo .xls
     */
    readerData(rawFile) {
      return new Promise((resolve) => {
        const reader = new FileReader();
        reader.onload = (e) => {
          const data = e.target.result;
          const workbook = XLSX.read(data, { type: "array" });

          let cuis = [];

          for (let i = 0; i < workbook.SheetNames.length; i++) {
            const firstSheetName = workbook.SheetNames[i];
            const worksheet = workbook.Sheets[firstSheetName];
            const results = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

            console.log("PRCOCESSS JAVIER ", results);
            console.log("RESULTADO ", firstSheetName);
            this.ProcessREn(results, firstSheetName);

            if (i == 0) {
              for (let index = 8; index < results.length; index++) {
                let auxCui = results[index][0]; // Cui del estudiante

                if (auxCui && auxCui != "") {
                  // Comprueba la existencia del cui
                  cuis.push(auxCui);
                }
              }
            }
          }

          // Agrego los cui al data
          this.excelfulldata["cuis"] = cuis;

          //this.ProcessREn(results);
          console.log("Data para enviar BD", this.excelfulldata);
          this.chargeDataToBD(this.excelfulldata);

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
        this.archivoSubido = true;
      });
    },

    /**
     * @description Se carga todos los datos de las notas de los alumnos a la base de datos
     * @param {data} data son las notas de los alumnos por cada criterio
     */
    chargeDataToBD(data) {
      for (let indexCui = 0; indexCui < data.cuis.length; indexCui++) {
        // for para estudiantes
        let cuiActual = data.cuis[indexCui];

        let studentActual = this.students_course_active.find(
          (student) => student.cui == cuiActual
        );

        if (studentActual) {
          let auxData = {
            grades_evaluation: [],
          };

          for (let indexResult = 0; indexResult < data.length; indexResult++) {
            // for para resultados

            for (
              let indexCriterio = 0; indexCriterio < data[indexResult].data.length; indexCriterio++
            ) {
              // for para criterios

              // Obtener id de evaluacion a partir de criterio
              let auxEvaluation = this.list_evaluations.find(
                (e) => e.criteria == data[indexResult].data[indexCriterio].name
              );

              // Nota
              let nota = data[indexResult].notas[indexCriterio][indexCui];

              if (auxEvaluation && nota && nota != "") {
                let aux = {
                  id_evaluation: auxEvaluation.id,
                  grade: nota,
                };
                auxData.grades_evaluation.push(aux);
              }
            }
          }
          this.patchStudent(studentActual.id, auxData);
        }
      }
      swal("Los datos fueron registrados con éxito.", "", "success");
    },

    /**
     * @description Se carga todos los datos de la base de datos
     */
    getDataFromBD() {
      // Se reinicia la estrutura para las tablas
      this.excelfulldata = [];

      // Se obtienen una lista de resultados del estudiante ordenada
      let auxListResult = [];
      for (const item of this.list_evaluations) {
        if (
          !auxListResult.some((e) => e == item.student_result) &&
          item.student_result != "" &&
          item.student_result != null
        ) {
          auxListResult.push(item.student_result);
        }
      }
      auxListResult = auxListResult.sort();

      // crear la estructura para las tablas por cada resultado
      for (const result of auxListResult) {
        let temp_ws_data = [
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          [],
          ["CUI"]
        ];

        for (let index = 0; index < this.list_evaluations.length; index++) {
          if (
            this.list_evaluations[index].criteria != "" &&
            this.list_evaluations[index].student_result == result
          ) {
            temp_ws_data[8].push(this.list_evaluations[index].criteria);
          }
        }
        temp_ws_data[8] = temp_ws_data[8].sort();

        // Carga los cui y las notas
        this.students_course_active.forEach((student) => {
          if (student.grades_evaluation.length > 0) {
            // Filtro de notas del periodo académico
            let notasEvaluation = student.grades_evaluation.filter(
              (s) => s.id_period_academic == this.periodAcademicId
            );

            let aux = [student.cui];
            for (
              let indexCriterio = 1; indexCriterio < temp_ws_data[8].length; indexCriterio++
            ) {
              // buscar nota del estudiante de un criterio
              let encontrado = notasEvaluation.find(
                (nota) => nota.criteria == temp_ws_data[8][indexCriterio]
              );

              if (encontrado) {
                aux.push(encontrado.grade);
              }
            }

            // se agrega cui y notas de los periodos
            temp_ws_data.push(aux);
          }
        });

        this.ProcessREn(temp_ws_data, result);
      }
    },

    /**
     * @description Actualiza las notas por cada criterio
     * @param {idStudent} idStudent es el identificador del estudiante a actulizar
     * @param {data} data son las notas de los alumnos por cada criterio
     */
    patchStudent(idStudent, data) {
      const path = url + `process/portfolio/student/${idStudent}/`;
      axios.patch(path, data).then(() => {});
    },

    ProcessREn(results, REname) {
      let REjson = {};

      let tmparr = [];
      for (let i = 8; i < results.length; i++) {
        tmparr.push(results[i]);
      }

      this.listNotasExcel = tmparr;

      let MatrizNotas = [];
      for (let j = 1; j < this.listNotasExcel[0].length; j++) {
        let tmp = [];
        for (let i = 0; i < this.listNotasExcel.length; i++) {
          tmp[i] = this.listNotasExcel[i][j];
        }

        MatrizNotas.push(tmp);
        tmp = [];
      }
      this.arrSoloNotas = MatrizNotas;
      //this.getREn(this.arrSoloNotas[1]);
      //console.log(MatrizNotas);
      let listrREsx = [];
      for (let i = 0; i < this.arrSoloNotas.length; i++) {
        listrREsx.push(this.getREn(this.arrSoloNotas[i]));
      }
      this.listrREs = listrREsx;

      let tmp;
      let tmpNivelT = [0, 0, 0, 0, 0];
      let sumx = 0;

      for (let i = 0; i < this.listrREs.length; i++) {
        tmp = this.listrREs[i];

        tmpNivelT[0] = tmpNivelT[0] + tmp[0][1];
        tmpNivelT[1] = tmpNivelT[1] + tmp[1][1];
        tmpNivelT[2] = tmpNivelT[2] + tmp[2][1];
        tmpNivelT[3] = tmpNivelT[3] + tmp[3][1];
        tmpNivelT[4] = tmpNivelT[4] + tmp[4][1];
      }
      tmpNivelT[0] = tmpNivelT[0] / this.listrREs.length;
      tmpNivelT[1] = tmpNivelT[1] / this.listrREs.length;
      tmpNivelT[2] = tmpNivelT[2] / this.listrREs.length;
      tmpNivelT[3] = tmpNivelT[3] / this.listrREs.length;
      tmpNivelT[4] = tmpNivelT[4] / this.listrREs.length;

      //parseFloat(((tmpx / arr.length) * 100).toFixed(1))
      tmpNivelT[0] = parseFloat(tmpNivelT[0].toFixed(1));
      tmpNivelT[1] = parseFloat(tmpNivelT[1].toFixed(1));
      tmpNivelT[2] = parseFloat(tmpNivelT[2].toFixed(1));
      tmpNivelT[3] = parseFloat(tmpNivelT[3].toFixed(1));
      tmpNivelT[4] = parseFloat(tmpNivelT[4].toFixed(1));

      sumx = tmpNivelT[2] + tmpNivelT[3];
      sumx = parseFloat(sumx.toFixed(1));

      this.porcNivel = tmpNivelT;
      this.sum34 = sumx;

      //console.log(listrREsx)
      /**
              for (let i = 0; i < listrREsx.length; i++) {
                  datajson.push( { cantidad: listrREsx[0], porcentaje: listrREsx[1] } );
                }
       */

      //let tmpcri =[];
      //let tmpcriname = 'Re1.1';
      let fullCriteria = [];

      let tmpcridata = [];
      let tmpcriname = "";
      let critnames = results[7]; //apartir del indice 1
      let n = 1;

      for (const item of listrREsx) {
        tmpcriname = critnames[n];

        for (const e of item) {
          //console.log(e)
          tmpcridata.push({ cantidad: e[0], porcentaje: e[1] });
        }
        fullCriteria.push({ name: tmpcriname, data: tmpcridata });
        n++;

        tmpcridata = [];
        tmpcriname = "";
      }

      //console.log(results[7])
      //console.log(fullCriteria)
      let tmpnivlsum = [
        { pnivel: tmpNivelT[0], suma: null },
        { pnivel: tmpNivelT[1], suma: null },
        { pnivel: tmpNivelT[2], suma: null },
        { pnivel: tmpNivelT[3], suma: null },
        { pnivel: tmpNivelT[4], suma: sumx },
      ];

      //REjson = {name: REname, notas: MatrizNotas, data: fullCriteria, pnivel: tmpNivelT, sum: sumx};
      REjson = {
        name: REname,
        notas: MatrizNotas,
        data: fullCriteria,
        pnivelsum: tmpnivlsum,
      };

      //console.log(REjson);
      this.excelfulldata.push(REjson);
      REjson = [];

      //console.log(this.excelfulldata);
    },
    getREn(arr) {
      let obj = [];

      for (let i = 1; i < 5; i++) {
        let tmpx = this.contLvl(arr, i);
        let tmpy = parseFloat(((tmpx / arr.length) * 100).toFixed(1));
        obj.push([tmpx, tmpy]);
      }

      let tmpx = obj[0][0] + obj[1][0] + obj[2][0] + obj[3][0];
      let tmpy = 0;
      if (obj[3][0] != 0) tmpy = 100;

      obj.push([tmpx, tmpy]);

      return obj;
    },
    contLvl(arr, lvl) {
      //let arr = [];
      let count = 0;
      if (lvl == 1) {
        for (let i = 0; i < arr.length; i++)
          if (arr[i] >= 1 && arr[i] <= 7) count++;
      }
      if (lvl == 2) {
        for (let i = 0; i < arr.length; i++)
          if (arr[i] >= 8 && arr[i] <= 10) count++;
      }
      if (lvl == 3) {
        for (let i = 0; i < arr.length; i++)
          if (arr[i] >= 11 && arr[i] <= 14) count++;
      }
      if (lvl == 4) {
        for (let i = 0; i < arr.length; i++)
          if (arr[i] >= 15 && arr[i] <= 20) count++;
      }
      return count;
    },

    /**
     * @description Verifica que se cumplan las validaciones de alcance, propuesta de mejora y resultados esperados
     * @return {boolean}
     */
    checkFormValidity() {
      return (
        this.proposalImprovementProposalValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una propuesta de mejora y minimizar el modal
     */
    onSubmit(evt) {
      if (!this.checkFormValidity()) {
        return;
      }
      evt.preventDefault();
      this.createProposalImprovement();
    },

    /**
     * @description Crea una propuesta de mejora con sus datos correspondientes
     */
    createProposalImprovement() {
      const path = url + `process/portfolio/proposal_improvement/`;

      console.log(path);
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.scope = response.data.proposal.scope;
          this.form.proposal = response.data.proposal;
          this.form.expected_results = response.data.expected_results;
          console.log("aasd");
          swal(
            "Propuesta de Mejora Continua Creado Exitosamente!",
            "",
            "success", {
              button: "Aceptar",
            }
          ).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Propuesta de Mejora Continua no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la propuesta de mejora
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    proposalImprovementStateProposalValidation() {
      if (this.textEmpty(this.form.proposal)) {
        return new Boolean(null);
      }
      return this.proposalImprovementProposalValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input de la propuesta de mejora
     * @return {boolean}
     */
    proposalImprovementProposalValidation() {
      return (
        this.textSize(this.form.proposal, 5, 50) &&
        this.onlyTextAndNumber(this.form.proposal)
      );
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }

      return false;
    },
  },

  /**
   * @description Método que se inicia cuando el componente se crea
  */
  created() {
    this.getCourseActive();
    this.getModality();
  },

  /*beforeUpdate() {
    this.getCourseActive();

    //console.log(this.items)

    //console.log(this.headitems)

    console.log("excelfulldata2", this.excelfulldata);
  },*/
};
</script>

<style lang="css" scoped>
.shadow {
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.15) !important;
}
</style>
