<template lang="html">
  <b-container>
    <b-modal
      id="deactivate-studyPlan-modal"
      ref="modal"
      title="Desactivar Plan de Estudio"
      @ok="ok"
    >
      ¿Está seguro que quiere desactivar el {{ this.StudyPlanInfo.name }} ?
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancelar
        </b-button>
        <b-button size="sm" variant="success" @click="ok()">
          Confirmar
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["StudyPlanInfo", "Process"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deactivateStudyPlan();
      this.$nextTick(() => {
        this.$bvModal.hide("deactivate-studyPlan-modal");
      });
    },

    /**
     * @description Desactiva un plan de estudio en especifico
     */
    deactivateStudyPlan() {
      const path = url + `process/portfolio/resource/${this.StudyPlanInfo.id}/`;
      const datos = {
        status: false,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Plan de Estudio Desactivado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListStudyPlan",
            });
          });
        })
        .catch((e) => {
          console.log(e);
          swal("Error al Desactivar Plan de Estudio", "", "error", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListStudyPlan",
            });
          });
        });
    },
  },
};
</script>

<style></style>
