<template lang="html">
<div class="container">
  <b-row class="py-4">
    <div>
      <b-button :to="{ name: 'DetailStudyPlan' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </div>
    <div class="col-12 mt-3">
      <h3>Editar Plan de Estudio {{ processId }}</h3>
    </div>
  </b-row>
  <b-card class="mb-3 text-left">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-form-group label="Nombre:" label-for="input-1">
        <b-form-input
          id="input-1"
          type="text"
          v-model="form.name"
          :formatter="forceLowerCase"
          required
          :state="studyPlanStateNameValidation()">
        </b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.name, 2, 32)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 2 y máximo 32 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Descripción:" label-for="input-2">
        <b-form-textarea
          id="input-2"
          type="text"
          name="description"
          v-model.trim="form.description"
          :formatter="forceLowerCase"
          :state="studyPlanStateDescriptionValidation()">
        </b-form-textarea>
        <small class="msg" v-if="!onlyTextAndNumber2(form.description)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="
              !textSize(form.description, 2, 120) &&
                !textEmpty(form.description)
            ">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 2 y máximo 120 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Porcentaje:" label-for="input-1">
        <b-form-input
          id="input-1"
          type="text"
          v-model="form.percent_due"
          :formatter="forceLowerCase"
          required
          :state="studyPlanStatePercentDueValidation()">
        </b-form-input>
        <small class="msg" v-if="!onlyNumber(form.percent_due)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!numberSize(form.percent_due, 0, 100)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 y máximo 100 caracteres
        </small>
      </b-form-group>
      <b-row class="py-4">
        <div class="col-12">
          <div class="text-right float-right ml-3">
            <b-button type="submit" variant="secondary">Editar</b-button>
          </div>
          <div class="text-right float-right ml-3">
            <b-button type="reset" variant="danger">Reiniciar</b-button>
          </div>
        </div>
      </b-row>
    </b-form>
  </b-card>
</div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      processId: this.$route.params.processId,
      studyPlanId: this.$route.params.studyPlanId,
      studyPlan: [],
      process: [],
      processSelected: {},
      roles: [],
      form: {
        name: "",
        description: "",
        percent_due: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
      errorsList: [],
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego establecer los inputs y finalmente
     * editar el plan de estudio
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editStudyPlanValidation()) {
        this.editStudyPlan();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },

    /**
     * @description Edita un plan de estudio en especifico
     */
    editStudyPlan() {
      const path = url + `process/portfolio/resource/${this.studyPlanId}/`;
      const datos = {
        name: this.form.name,
        percent_due: this.form.percent_due,
        description: this.form.description,
        id_process: this.$route.params.processId,
      };
      axios
        .put(path, datos)
        .then(() => {
          swal("Plan de Estudio Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("detail");
            //location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_process, name deben formar un conjunto único.",
              "Ya existe una fase con ese nombre."
            )
          );

          swal(
            "No se editó el plan de estudio",
            this.errorsList.join("\n"),
            "error", {
              button: "Aceptar",
            }
          );
        });
    },

    /**
     * @description Obtiene la informacion de un plan de estudio en especifico
     */
    getStudyPlan() {
      const path = url + `process/portfolio/resource/${this.studyPlanId}/`;

      axios
        .get(path)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          this.form.percent_due = response.data.percent_due;
          this.form.id_process = response.data.id_process;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
      this.form.description = "";
      this.form.percent_due = "";
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, malla curricular y descripcion
     */
    editStudyPlanValidation() {
      return (
        this.studyPlanNameValidation() &&
        this.studyPlanPercentDueValidation() &&
        this.studyPlanDescriptionValidation()
      );
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studyPlanStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.studyPlanNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studyPlanNameValidation() {
      return (
        this.textSize(this.form.name, 2, 32) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de porcentaje
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studyPlanStatePercentDueValidation() {
      if (this.textEmpty(this.form.percent_due)) {
        return new Boolean(null);
      }
      return this.studyPlanPercentDueValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de porcentaje
     * @return {boolean}
     */
    studyPlanPercentDueValidation() {
      return (
        this.numberSize(this.form.percent_due, 0, 100) &&
        this.onlyNumber(this.form.percent_due)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studyPlanStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.studyPlanDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    studyPlanDescriptionValidation() {
      return (
        (this.textSize(this.form.description, 2, 120) ||
          this.textSize(this.form.description, 0, 0)) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();
    this.getStudyPlan();
  },

  computed: {},
};
</script>
