<template>
  <div class="container">
    <b-form @submit="onSubmit">
      <h5 class="text-center mt-3 mb-3">
        Estas seguro que desea eliminar el portafolio {{ portfolio.year }}
      </h5>

      <b-button type="submit" variant="danger">Eliminar</b-button>
      &nbsp;&nbsp;
      <b-button :to="{ name: 'listPortfolios' }" type="submit"
        >Cancelar</b-button
      >
    </b-form>
  </div>
</template>

<script>
const url = process.env.VUE_APP_RUTA_API;
import axios from "axios";
import swal from "sweetalert";
export default {
  data() {
    return {
      portfolio: [],
      portfolioId: this.$route.params.portfolioId,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.deletePortfolio();
    },
    getPortfolio() {
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios.get(path).then((response) => {
        this.portfolio = response.data;
      });
    },
    deletePortfolio() {
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios.delete(path).then(() => {
        swal("Portafolio eliminado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          this.$router.push({ name: "listPortfolios" });
        });
      });
    },
  },
  created() {
    this.getPortfolio();
  },
};
</script>
